.chat-channel-container{
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	border:2px solid blue;
}


@media (max-width: 768px) {
	.chat-sidebar.hidden {
	  display: none;
	}
  
	.chat-content.hidden {
	  display: none;
	}
  }