.chat-channel-container{
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;

	/* justify-content: space-between; */
}

/* Default styling for the box */
.chat-box {
	background-color: white;
	width: 1.5%;
	height: 100%;
}

.chat-select {
	font-family: Alfa Slab One;
	font-size: 40px;
	-webkit-text-stroke: 1px black;
	color: #FF8100;
	text-shadow: -4px -0px 0 rgba(0, 0, 0, .20),  
				0px -0px 0 rgba(0, 0, 0, .20),
				-4px 0px 0 rgba(0, 0, 0, .20),
				0px 0px 0 rgba(0, 0, 0, .20);
				margin-top: 20px;
}


@media (max-width: 768px) {
	.chat-sidebar.hidden {
	  display: none;
	}
  
	.chat-content.hidden {
	  display: none;
	}

	.chat-box {
		display: none;
	}

	.chat-content {
		/* width: 100%; */
		/* background-color: white; */
	}

	/* .back-button {
		background-color: white;
	} */
  }