.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background: linear-gradient(to bottom, #FF79AF 0%,#FF79AF 52%, white 52%, white 54%, #FF8100 54%, #FF8100 100%);
  padding-top: 40px;
} 

.column {
    flex-direction: column;
}


.flex{
	border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}