.homepage-column {
	padding-top: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:40px;
	min-height: 100vh; 
	/* background: linear-gradient(to bottom, #FF79AF 0%,#FF79AF 52%, white 52%, white 54%, #FF8100 54%, #FF8100 100%); */
  }

.h1 {
	font-family: 'Alfa Slab One';
}
.backgroundTop {

	display: flex;
	flex-direction: column;
	align-items: center; 
}

.welcomeHome
{
	width:100vw;
	font-family: Alfa Slab One;
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

.welcome {
	color: #FFF;
	text-align: center;
	font-size: 90px;
	font-family: Alfa Slab One;
	line-height: 50px;
	-webkit-text-stroke: 1px black;
	margin-bottom: 22px;
}

.titleHomePage {
	color: #FF8100;
	text-shadow:
	-4px -0px 0 rgba(0, 0, 0, .20),  
	0px -0px 0 rgba(0, 0, 0, .20),
	-4px 0px 0 rgba(0, 0, 0, .20),
	0px 0px 0 rgba(0, 0, 0, .20);
	font-size: 100px;
	font-weight: 900;
	-webkit-text-stroke: 1px black;
	font-family: 'Alfa Slab One', cursive;
	margin-bottom: 0px;
}


.show_button {
	border: 2px solid blue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Modification de la propriété "end" à "center" */
	display: flex;
}

.hide_button {
	display: none;
}