.navbar {
	z-index: 2000; /* Make sure the navbar is above other content */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* justify-content: space-between; */
	font-family: 'Lato';
	/* padding: .7rem; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 75px;
	background-color: white;
	color: blue;
}

.navbar_logo {

	cursor: pointer;
	margin-left: 100px;
	font-family: Alfa Slab One;
	font-size: 50px;
	-webkit-text-stroke: 1px black;
	color: #FF8100;
	text-shadow: -4px -0px 0 rgba(0, 0, 0, .20),
				0px -0px 0 rgba(0, 0, 0, .20),
				-4px 0px 0 rgba(0, 0, 0, .20),
				0px 0px 0 rgba(0, 0, 0, .20);

}

.search_bar {
	margin-left: 2rem;
	margin-right: 1rem;
	max-width: 400px;
}


.navbar_links {
	margin-right: 100px;
	display: flex;
	align-items: center;
}

.navbar_link {
	padding: 0 0.3rem;
	padding: 30px;
	color: inherit;
	color: #FF79AF;
	font-weight: 700;
	font-size: 16px;
	text-decoration-line: underline;
}

.navbar .navbar_links .navbar_link:hover{
	color:#FF8100
}

.navbar_burger {
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	color: inherit;
	display: none;
}

/* .navbar_logout {
	font-family: Lato;
	font-size: 16px;
	color: #FF79AF;
	text-decoration-line: underline;
} */

.textLogout {
	margin-left: 20px;
	color: #FF79AF;
	font-weight: 700;
	font-size: 16px;
	text-decoration-line: underline;
}

/*******************************************/
/************** MEDIA QUERIES **************/

@media screen and (max-width:1324px) {
	.navbar_links {
		margin-right: 0px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		right: -100vw;
		bottom: 0;
		height: 100vh;
		padding: 2rem;
		visibility: hidden;
		background: #FF79AF;
	}

	.show_nav .navbar_links {
		right: 0;
		width: 100vw;
		visibility: visible;
	}

	.navbar_link {
		text-decoration: none;
		color: #FFF;
		text-align: center;
		font-size: 40px;
		font-family: Alfa Slab One;
		display: block;
		padding: 1.5rem;
		font-size: 5vw;
		-webkit-text-stroke: 1px black;
	}

	.textLogout {
		padding-top: 70px;
		color: white;
		font-weight: 700;
		font-size: 18px;
	}

	/************************************/
	/************** BURGER **************/
	.navbar_burger {
		/* min-height: 75px; */
		display: block;
		position: fixed;
		top: 1rem;
		right: 1rem;
	}

	.navbar_burger:hover {
		cursor: pointer;
	}

	.burger_bar,
	.burger_bar::before,
	.burger_bar::after {
		display: block;
		width: 40px;
		height: 3px;
		position: relative;
		border-radius: 3px;
		background: black;
		transition: all .5s ease-in-out;
	}

	.burger_bar::before,
	.burger_bar::after {
		content:"";
		position: absolute;
		left: 0;
	}

	.burger_bar::before {
		transform: translateY(-12px);
	}

	.burger_bar::after {
		transform: translateY(12px);
	}

	.show_nav .burger_bar{
		width: 0;
		background: transparent;
	}

	.show_nav .burger_bar::before {
		transform: rotate(45deg);
	}

	.show_nav .burger_bar::after {
		transform: rotate(-45deg);
	}

	.show_nav .ButtonHomePage {
    	display: none;
  	}
}









