#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;    
}

#scoreText{
    font-family: Alfa Slab One, monospace;    
    font-size: 20px;
	color: #f6f2f3;
  	text-shadow: 2px 2px 2px black;
}

.waitingMessage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
  }
  
  .dot-1, .dot-2, .dot-3 {
	animation: blink 1s infinite;
  }
  
  @keyframes blink {
	0%, 100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }