#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;    
}

#scoreText{
    font-family: Alfa Slab One, monospace;    
    font-size: 70px;
}

#resetBtn{
    font-family: Alfa Slab One, cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;  
}