#gameContainer{
    text-align: center;
	display: flex;
	flex-direction: column;
}

#gameBoard{
    border: 3px solid;    
}

#scoreText{
    font-family: Alfa Slab One, monospace;    
    font-size: 20px;
	color: #f6f2f3;
  	text-shadow: 2px 2px 2px black;
}

.img-bkg {
	border: 2px solid black;
	border-radius: 10px;
}

.message-game {
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
	padding: 3vh;
	font-family: Alfa Slab One;
	font-size: 30px;
	-webkit-text-stroke: 1px black;
	color: #FF8100;
	text-shadow: -2px -0px 0 rgba(0, 0, 0, .10),  
				0px -0px 0 rgba(0, 0, 0, .10),
				-2px 0px 0 rgba(0, 0, 0, .10),
				0px 0px 0 rgba(0, 0, 0, .10);
}

.waitingMessage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
  }
  
  .dot-1, .dot-2, .dot-3 {
	animation: blink 1s infinite;
  }
  
  @keyframes blink {
	0%, 100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }