.main-container {
		display: flex;
		flex-wrap: wrap;
		gap: 70px;
		/* align-items: center; */
		border: 2px solid red;
}
	

.img-profile {
	border: 2px solid black;
}

.container-wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
	padding: 2vh;
}

.avatar {
	display: flex;
	align-items: center;
	gap: 70px;
	
}

.avatar-name {

}

.modifier {
	font-size:0.9rem;
	color: #0018F4;
	cursor: pointer;
	text-decoration: underline;
}

.element-profile {
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	align-items: flex-start;

}

.a-modifier {
	display: flex;
	gap: 50px;
}

.rank {
	margin-top: 50px;
}


.name {
	font-family: Alfa Slab One;
	font-size: 70px;
	-webkit-text-stroke: 1px black;
	color: #FF8100;
	text-shadow: -4px -0px 0 rgba(0, 0, 0, .20),  
				0px -0px 0 rgba(0, 0, 0, .20),
				-4px 0px 0 rgba(0, 0, 0, .20),
				0px 0px 0 rgba(0, 0, 0, .20);
}

.element-profile .h2 {
	font-family: Lato;
	font-size: 22px;
}
 
 /*.cont{
	display: flex;
	justify-content: space-between;
 }

  .profile-container_1 {
	display: flex;
	align-items: flex-start;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid black;
	width: 100%;

}
  
  .profile-container_2 {
	display: flex;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid black;
	width: 100%; 
  }
  
  .profile-picture-container {
	margin-right: 20px;
	border: 2px solid black;
	border-radius: 10px;
  }
  
  .profile-picture {
	width: 200px;
	height: 250px;
	border-radius: 10px;
  }
  
  .profile-info {
	color: black;
	text-align: left;
  }
  
  .profile-info h2 {
	text-align: center;
	margin: 0;
	font-family: 'Lato';
  }
  
  .profile-info h5 {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
  }
  
  .game-list {
	list-style: none;
	padding: 0;
  }
  
  .game-list li {
	font-size: 16px;
	margin-bottom: 5px;
  }

  .page{
   background: linear-gradient(to right, #FF79AF 0%,#FF79AF 52%, white 52%, white 54%, #FF8100 54%, #FF8100 100%);
  }

  .game-table {
	width: 100%; 
	border-collapse: collapse;
	border: 1px solid #FF79AF; 
  }
  
  .game-table th,
  .game-table td {
	border: 2px solid #FF79AF;
	padding: 8px; 
	text-align: center; 
  }*/

  /*.App{
	background: linear-gradient(to right, #FF79AF 0%,#FF79AF 52%, white 52%, white 54%, #FF8100 54%, #FF8100 100%);
  }*/