.Register {
	display: 'flex';
	justify-content: 'center';
	align-items: 'center';
	width: 582px;
	height: 755px;
	flex-wrap: wrap;
	border-radius: 20px;
	border: 3px solid #000;
	background: #FFF;
	font-size: 18px;
}

.title {
	margin-top: 68px;
	color: #FF8100;
	/* text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .40); */
	text-shadow:
	-4px -0px 0 rgba(0, 0, 0, .20),  
	0px -0px 0 rgba(0, 0, 0, .20),
	-4px 0px 0 rgba(0, 0, 0, .20),
	0px 0px 0 rgba(0, 0, 0, .20);
	font-size: 100px;
	font-weight: 900;
	-webkit-text-stroke: 1px black;

	font-family: 'Alfa Slab One', cursive;
}


.line
{
	color: #FF79AF;
	display: inline-block;
	font-weight: 700;
	text-decoration-line: underline;
}


.formLogin {
	margin-top: 50px;
}